<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Retreat 2022</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
  <pre id="content" style="white-space: pre-wrap;"></pre>
  <p>Input your name<p>
  <form action="/info" method="post">
    <div>
      <label for="name">Enter your name: </label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="phone">Enter your phone number: </label>
      <input type="tel" name="phone" id="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="2025550144" required>
      <div><small>numbers only, no dashes or parantheses</small></div>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
  </body>
</html>